p {
  color: #428cff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: x-small;
}

ion-content {
  --padding-botton: 16px;
  --padding-end: 16px;
  --padding-top: 16px;

  img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  }
}
